<h3>Total <small>sucursales</small></h3>
<br>
<div style="overflow-x: scroll;">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead class="btn-dark">
            <tr>
                <th scope="col">Sucursal</th>
                <th scope="col">Region</th>
                <th scope="col">Cantidad Arriendos</th>
                <th scope="col">Cantidad clientes</th>
                <th scope="col">fecha de creacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="vehiculos">
            <tr *ngFor="let sucursal of sucursales">
                <th>{{sucursal.nombre_sucursal}}</th>
                <td>{{sucursal["regione"].nombre_region}}</td>
                <td>@</td>
                <td>@</td>
                <td>{{sucursal.createdAt}}</td>
            </tr>
        </tbody>
        <tfoot class="btn-dark">
            <tr>
                <th scope="col">Sucursal</th>
                <th scope="col">Region</th>
                <th scope="col">Cantidad Arriendos</th>
                <th scope="col">Cantidad clientes</th>
                <th scope="col">fecha de creacion</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>