<br><br><br>
<h5>Todas las categorias</h5>
<table id="tabla_tarifas_vehiculos" class="table display nowrap table-striped cell-border table-bordered">
  <thead class="btn-dark">
    <tr>
      <th scope="col">categoria</th>
      <th scope="col">modelo</th>
      <th scope="col">año</th>
      <th scope="col" class="btn-danger">Valor diario</th>
      <th scope="col" class="btn-success">Valor semanal</th>
      <th scope="col" class="btn-primary">valor quincenal</th>
      <th scope="col" class="btn-info">valor mensual</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody style='font-size: 0.7rem;'>
    <tr>
      <th>xxxxxxx</th>
      <th>xxxxxxx</th>
      <th>xxxxxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>
        <button class='btn btn-outline-info'><i class='far fa-edit'></i></button>
      </th>
    </tr>
    <tr style='font-size: 0.7rem;'>
      <th>xxxxxxx</th>
      <th>xxxxxxx</th>
      <th>xxxxxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>
        <button class='btn btn-outline-info'><i class='far fa-edit'></i></button>
      </th>
    </tr>
    <tr style='font-size: 0.7rem;'>
      <th>xxxxxxx</th>
      <th>xxxxxxx</th>
      <th>xxxxxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>NETO: $xxxxx - IVA : $xxxxx - TOTAL: $xxxx</th>
      <th>
        <button class='btn btn-outline-info'><i class='far fa-edit'></i></button>
      </th>
    </tr>
  </tbody>
  <tfoot class="btn-dark">
    <tr>
      <th scope="col">categoria</th>
      <th scope="col">modelo</th>
      <th scope="col">año</th>
      <th scope="col" class="btn-danger">Valor diario</th>
      <th scope="col" class="btn-success">Valor semanal</th>
      <th scope="col" class="btn-primary">valor quincenal</th>
      <th scope="col" class="btn-info">valor mensual</th>
      <th scope="col"></th>
    </tr>
  </tfoot>
</table>
