<br>
<table id="tabla_tarifas_accesorios" class="table table-striped table-bordered" style="width:100%">
  <thead class="btn-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre accesorio</th>
      <th scope="col" class="btn-danger">valor diario</th>
      <th scope="col" class="btn-success">valor diario (mas de 3 dias)</th>
    </tr>
  </thead>
  <tbody style='font-size: 0.7rem;'>
    <tr>
      <th>x</th>
      <th>xxxxxxxxxxxxxx</th>
      <th>NETO: xxxx - IVA: xxxxx - TOTAL: XXXX</th>
      <th>NETO: xxxx - IVA: xxxxx - TOTAL: XXXX</th>
    </tr>
    <tr>
      <th>x</th>
      <th>xxxxxxxxxxxxxx</th>
      <th>NETO: xxxx - IVA: xxxxx - TOTAL: XXXX</th>
      <th>NETO: xxxx - IVA: xxxxx - TOTAL: XXXX</th>
    </tr>
  </tbody>
</table>
