<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a [routerLink]="['home']" style='color: rgb(0, 0, 0);;'>Administracion</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Administracion sucursal</li>
        </ol>
    </nav>
    <h1 class="h3">Administracion sucursal</h1>
</div>
<div class="col text-right">
    <button *ngIf="!_sucursal.formOption" class="btn btn-success" (click)="navegar('sucursales/sucursalForm/nuevo')"> <i
            class="fa fa-plus"></i> Agregar
        sucursal</button>
    <button *ngIf="_sucursal.formOption" class="btn btn-primary" (click)="navegar('sucursales/sucursalList')">
        <i class="fa fa-arrow-left"></i>
        Regresar</button>
</div>
<div>
    <div class="tab-content" id="myTabContent">
        <router-outlet></router-outlet>
    </div>
    <br><br><br>
</div>