<!-- abajo se muestra el drawer de acuerdo a la opcion que se eliga  -->
<div class="container-fluid ">
  <div class="row ">

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item" routerLinkActive="card">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['tarifas/tarifasVehiculos']">
              <i class="fas fa-tags"></i>
              Tarifas arriendos
            </a>
          </li>
        </ul>
        <br>
        <ul class="nav flex-column">
          <li class="nav-item" routerLinkActive="card">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['item']">
              <i class="fas fa-beer"></i>
              item 2
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <router-outlet></router-outlet>

    </main>

  </div>
</div>
