@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";



/* You can add global styles to this file, and also import other style files */
a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(255, 0, 0);
}

.nav-link {
  color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: rgb(255, 0, 0);
}

.card .nav-link {
  color: rgb(0, 0, 0);
}

.card .nav-link:hover {
  color: rgb(255, 0, 0);
}

.loader {
  margin-left: auto;
  margin-right: auto;
  border: 106px solid #f3f3f3;
  border-radius: 50%;
  border-top: 106px solid rgb(22, 119, 46);
  border-right: 106px solid rgba(0, 0, 0, 0.208);
  border-bottom: 106px solid red;
  border-left: 106px solid rgb(104, 97, 97);
  width: 520px;
  height: 520px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}