<br>
<br>
<div class="row">
    <div class="input-group col-md-5">
        <input type="text" class="form-control" placeholder="Nombre del nuevo rol" aria-label="Nombre del nuevo rol"
            aria-describedby="button-add-rol">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-add-rol">registrar nuevo rol</button>
        </div>
    </div>
    <div class="input-group col-md-7"></div>
    <div class="input-group col-md-12">
        <app-tabla [listThead]="listThead" [listTbody]="listTbody"></app-tabla>
    </div>

</div>